.reservation-popup {
  position: relative;
  background: #fff;
  padding: 0px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
  border-radius: 7px;
}

.reservation-popup__header {
  border-radius: 7px 7px 0 0;
  padding: 30px 50px;
  background-color: #f1efef;

  h3 {
    font-family: $grotesk;
    color: black;
    opacity: 0.7;
  }
}

.reservation-popup__wrapper {
  padding: 50px;
}

.reservation-popup__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reservation-popup__input {
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d6d5d5;

  &:focus {
    outline-color: $red;
  }
}

.reservation-popup__button {
  padding: 15px !important;
}
