@import '../variables.scss';

.preview {
  position: absolute;
  top: 2%;
  right: 30px;
  width: 270px;
  border-radius: 7px;
  background-color: rgba(26, 26, 26, 0.75);
  backdrop-filter: blur(5px);

  z-index: 101;
}

.preview__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 15px 15px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.preview__title {
  @include filter__title;
  margin: 0;
}

.preview__list {
  margin: 0;
  padding: 0;
  padding: 15px 15px 30px 15px;
  list-style: none;

  transition: ease 0.6s;
}

#preview-constructor .preview__list:not(.tour__similar) {
  max-height: 385px;
}

.preview__list:not(.tour__similar) {
  max-height: 455px;
  overflow-y: auto;

  &::-webkit-scrollbar-button {
    background-image: url('');
    background-repeat: no-repeat;
    width: 5px;
    height: 0px;
  }

  &::-webkit-scrollbar-track {
    background-color: #444141;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: $red;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgb(240, 45, 77);
  }

  &::-webkit-resizer {
    background-image: url('');
    background-repeat: no-repeat;
    width: 4px;
    height: 0px;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }
}

.preview__list--close {
  display: none;
}

.preview__tour {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 5px;
  min-height: 130px;

  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
  border-radius: 7px;

  transition: ease 0.6s;
}

.preview__tour:not(:last-child) {
  margin-bottom: 10px;
}

.preview__tour-name {
  @include filter__title;
  text-shadow: 1px 1px 3px #000000;
}

.preview__tour-show {
  @include filter__item;
  margin-left: auto;
  padding: 5px;
  background-color: rgba(26, 26, 26, 0.75);
  border-radius: 7px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: ease 0.2s;
  cursor: pointer;

  &:hover {
    color: #ffffff;
    border-color: #ffffff;
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }
}

.preview__not-found {
  @include filter__item;
  display: inline-block;
  line-height: 20px !important;
}

.preview__arrow {
  width: 30px;
  height: 30px;

  background-image: url('../svg/arrow.svg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;

  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.3);

  transform: rotate(180deg);
  transition: transform ease 0.6s;
}

.preview__arrow--close {
  transform: rotate(0);
}

// @media (max-width: 1600px) {
//   .preview__list:not(.tour__similar) {
//     max-height: 385px;
//   }
// }
