@import '../variables.scss';

.irs-handle {
  top: 30px !important;
  width: 16px !important;
  height: 16px !important;
  border: none !important;
  background-color: $red !important;
  box-shadow: 2px 2px 8px -2px #000000 !important;
}
.irs-bar {
  background-color: $red !important;
}
.irs-line,
.irs-bar {
  height: 2px !important;
}
.irs-min,
.irs-max,
.irs-from,
.irs-to,
.irs-single {
  display: none !important;
}
