@import '../variables.scss';

// .tour {
//   display: none;
// }

.tour__header {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.tour__name {
  font-family: $grotesk;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  color: #d9d9d9;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

.tour__descr {
  @include tour__descr;
}

.tour__promo {
  padding: 30px 50px;
}

.tour__img {
  margin-bottom: 50px;
  border-radius: 7px !important;
}

.tour__actions {
  margin: 0;
  padding: 0 50px;
  margin-bottom: 40px;
  list-style: none;
}

.tour__action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  img {
    margin-right: 30px;
  }
}

.tour__descr--action {
  margin-bottom: 0;
}

.tour__program {
  @include tour__descr;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.tour__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 21px 9px 21px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.tour__footer-info {
  @include tour__descr;
  margin: 0;

  span {
    opacity: 0.5;
  }
  a {
    @include tour__descr;
    transition: ease 0.2s;
  }
  a:hover {
    color: $red !important;
    text-decoration: none;
  }
}

.tour__settings {
  margin-top: 35%;
  margin-bottom: 95%;
}

.tour__similar {
  padding: 0;
  margin-top: 40px;

  li:not(:last-child) {
    margin-bottom: 60px !important;
  }
}

.tour__slider {
  position: relative;

  .slick-arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    z-index: 100;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      background-image: url('../../svg/arrow.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 100%;
      height: 100%;
    }
  }
  .slick-prev {
    left: 30px;
    transform: rotate(90deg);
  }
  .slick-next {
    right: 30px;
    transform: rotate(-90deg);
  }
}

.tour__slide {
  width: 100%;
  height: 400px;
  text-align: center;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 7px;

  .slide__name {
    display: inline-block;
    margin-top: 40%;
    font-family: $grotesk;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #d9d9d9;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  }
}
